<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SinfPaths</key>
	<array>
		<string>SC_Info/Edu901iPhone.sinf</string>
	</array>
	<key>SinfReplicationPaths</key>
	<array>
		<string>Frameworks/AFNetworking.framework/SC_Info/AFNetworking.sinf</string>
		<string>Frameworks/CCCandyWebCache.framework/SC_Info/CCCandyWebCache.sinf</string>
		<string>Frameworks/CocoaLumberjack.framework/SC_Info/CocoaLumberjack.sinf</string>
		<string>Frameworks/DATracker_JY.framework/SC_Info/DATracker_JY.sinf</string>
		<string>Frameworks/DateTools.framework/SC_Info/DateTools.sinf</string>
		<string>Frameworks/EBPhotoPages_JY.framework/SC_Info/EBPhotoPages_JY.sinf</string>
		<string>Frameworks/FBRetainCycleDetector.framework/SC_Info/FBRetainCycleDetector.sinf</string>
		<string>Frameworks/FLAnimatedImage.framework/SC_Info/FLAnimatedImage.sinf</string>
		<string>Frameworks/FLEX.framework/SC_Info/FLEX.sinf</string>
		<string>Frameworks/FMDB.framework/SC_Info/FMDB.sinf</string>
		<string>Frameworks/FXBlurView.framework/SC_Info/FXBlurView.sinf</string>
		<string>Frameworks/HTFileDownloader.framework/SC_Info/HTFileDownloader.sinf</string>
		<string>Frameworks/HTMultiCellTypeTableViewObjc.framework/SC_Info/HTMultiCellTypeTableViewObjc.sinf</string>
		<string>Frameworks/HTResourceVersionChecker.framework/SC_Info/HTResourceVersionChecker.sinf</string>
		<string>Frameworks/JYEduTracker.framework/SC_Info/JYEduTracker.sinf</string>
		<string>Frameworks/JYFAudioPlayer.framework/SC_Info/JYFAudioPlayer.sinf</string>
		<string>Frameworks/JYFNetworking.framework/SC_Info/JYFNetworking.sinf</string>
		<string>Frameworks/JYFUIResource.framework/SC_Info/JYFUIResource.sinf</string>
		<string>Frameworks/JYFURLManager.framework/SC_Info/JYFURLManager.sinf</string>
		<string>Frameworks/JYFUtils.framework/SC_Info/JYFUtils.sinf</string>
		<string>Frameworks/JYFVideoPlayer.framework/SC_Info/JYFVideoPlayer.sinf</string>
		<string>Frameworks/JYNOSSDK.framework/SC_Info/JYNOSSDK.sinf</string>
		<string>Frameworks/JYSBaseService.framework/SC_Info/JYSBaseService.sinf</string>
		<string>Frameworks/JYSImageUploader.framework/SC_Info/JYSImageUploader.sinf</string>
		<string>Frameworks/JYSInstructor.framework/SC_Info/JYSInstructor.sinf</string>
		<string>Frameworks/JYSLive.framework/SC_Info/JYSLive.sinf</string>
		<string>Frameworks/JYSLogger.framework/SC_Info/JYSLogger.sinf</string>
		<string>Frameworks/JYSLoginService.framework/SC_Info/JYSLoginService.sinf</string>
		<string>Frameworks/JYSMessage.framework/SC_Info/JYSMessage.sinf</string>
		<string>Frameworks/JYSOrderKit.framework/SC_Info/JYSOrderKit.sinf</string>
		<string>Frameworks/JYSQuestion.framework/SC_Info/JYSQuestion.sinf</string>
		<string>Frameworks/JYSRecommendation.framework/SC_Info/JYSRecommendation.sinf</string>
		<string>Frameworks/JYSRecommendationFeed.framework/SC_Info/JYSRecommendationFeed.sinf</string>
		<string>Frameworks/JYSStatics.framework/SC_Info/JYSStatics.sinf</string>
		<string>Frameworks/JYSYKTDiscovery.framework/SC_Info/JYSYKTDiscovery.sinf</string>
		<string>Frameworks/JYVBaseView.framework/SC_Info/JYVBaseView.sinf</string>
		<string>Frameworks/JYVDownloadManager.framework/SC_Info/JYVDownloadManager.sinf</string>
		<string>Frameworks/JYVLive.framework/SC_Info/JYVLive.sinf</string>
		<string>Frameworks/JYVLogin.framework/SC_Info/JYVLogin.sinf</string>
		<string>Frameworks/JYVMessage.framework/SC_Info/JYVMessage.sinf</string>
		<string>Frameworks/JYVPlayer.framework/SC_Info/JYVPlayer.sinf</string>
		<string>Frameworks/JYVQuestion.framework/SC_Info/JYVQuestion.sinf</string>
		<string>Frameworks/JYVRecommendationFeed.framework/SC_Info/JYVRecommendationFeed.sinf</string>
		<string>Frameworks/JYVUnitDirectory.framework/SC_Info/JYVUnitDirectory.sinf</string>
		<string>Frameworks/JYVUtils.framework/SC_Info/JYVUtils.sinf</string>
		<string>Frameworks/JYVYKTDiscovery.framework/SC_Info/JYVYKTDiscovery.sinf</string>
		<string>Frameworks/JsBridge.framework/SC_Info/JsBridge.sinf</string>
		<string>Frameworks/KVOController.framework/SC_Info/KVOController.sinf</string>
		<string>Frameworks/M80AttributedLabel.framework/SC_Info/M80AttributedLabel.sinf</string>
		<string>Frameworks/MBProgressHUD.framework/SC_Info/MBProgressHUD.sinf</string>
		<string>Frameworks/MGSwipeTableCell.framework/SC_Info/MGSwipeTableCell.sinf</string>
		<string>Frameworks/MJExtension.framework/SC_Info/MJExtension.sinf</string>
		<string>Frameworks/MJRefresh.framework/SC_Info/MJRefresh.sinf</string>
		<string>Frameworks/MLeaksFinder.framework/SC_Info/MLeaksFinder.sinf</string>
		<string>Frameworks/MagicalRecord.framework/SC_Info/MagicalRecord.sinf</string>
		<string>Frameworks/Mantle.framework/SC_Info/Mantle.sinf</string>
		<string>Frameworks/MarqueeLabel.framework/SC_Info/MarqueeLabel.sinf</string>
		<string>Frameworks/Masonry.framework/SC_Info/Masonry.sinf</string>
		<string>Frameworks/NEBookReader.framework/SC_Info/NEBookReader.sinf</string>
		<string>Frameworks/NELivePlayerFramework.framework/SC_Info/NELivePlayerFramework.sinf</string>
		<string>Frameworks/NETransitionManager.framework/SC_Info/NETransitionManager.sinf</string>
		<string>Frameworks/PomeloPush.framework/SC_Info/PomeloPush.sinf</string>
		<string>Frameworks/PureLayout.framework/SC_Info/PureLayout.sinf</string>
		<string>Frameworks/Reachability.framework/SC_Info/Reachability.sinf</string>
		<string>Frameworks/SAMKeychain.framework/SC_Info/SAMKeychain.sinf</string>
		<string>Frameworks/SDWebImage.framework/SC_Info/SDWebImage.sinf</string>
		<string>Frameworks/SSZipArchive.framework/SC_Info/SSZipArchive.sinf</string>
		<string>Frameworks/TZImagePickerController.framework/SC_Info/TZImagePickerController.sinf</string>
		<string>Frameworks/Toast.framework/SC_Info/Toast.sinf</string>
		<string>Frameworks/UIViewController_KeyboardAnimation.framework/SC_Info/UIViewController_KeyboardAnimation.sinf</string>
		<string>Frameworks/YYText.framework/SC_Info/YYText.sinf</string>
		<string>Frameworks/ZSSRichTextEditor_JY.framework/SC_Info/ZSSRichTextEditor_JY.sinf</string>
		<string>Frameworks/ZipArchive.framework/SC_Info/ZipArchive.sinf</string>
		<string>Frameworks/bsdiff.framework/SC_Info/bsdiff.sinf</string>
		<string>Frameworks/iCarousel.framework/SC_Info/iCarousel.sinf</string>
		<string>Frameworks/libextobjc.framework/SC_Info/libextobjc.sinf</string>
		<string>Frameworks/pop.framework/SC_Info/pop.sinf</string>
		<string>Frameworks/vfrReader.framework/SC_Info/vfrReader.sinf</string>
		<string>PlugIns/PushService.appex/SC_Info/PushService.sinf</string>
		<string>SC_Info/Edu901iPhone.sinf</string>
	</array>
</dict>
</plist>
